
<p>
<img src="Content/images/d3logo.jpg" alt="D3 Logo" />
<br/><br/>
Modern web development is increasingly driven by client-side JavaScript. In fact, the <a href="http://stackoverflow.com/research/developer-survey-2015" target="_blank">2015 Stack Overflow Developer Survey</a>
indicates that JavaScript is currently the most popular development technology. This is not to overlook the importance of server-side data. 
The modern web is programmable, which is to say that much of the data consumed by applications is served out by APIs and processed in the browser by JavaScript.
A D3 visualization can consume data provided by an API, but it can also consume a dataset provided by a local file.
For simplicity, all the datasets used in this course will be local files. The Extras section contains examples of visualizations that consume
APIs.</p>
<br/><br/><br/>
<p>
The following is a list of the building blocks of modern web development. It is fascinating to consider the way they interplay
in D3 visualizations and the student should develop an appreciation for this through the examples used in this course.
</p> 
<div class="container">
    <div class="row">
       <div class="col-md-2">
         <img src="Content/images/CSS.png" height="100" width="100" alt="CSS" />
       </div>
      <div class="col-md-10">
        <p>
        It will be assumed that students in this course will have a good grasp of CSS. The CSS supporting each example will be
        given to the student with minimal explanation. Only one CSS technique will be taught, a technique which might be called
        <em>div stacking</em>. This technique is used in several of the examples and it is important to be aware of it.
        </p>
      </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <img src="Content/images/HTML5.png" height="100" width="100" alt="CSS" />
        </div>
        <div class="col-md-10">
            <p>
            It will be assumed that students in this course will have experience in constructing HTML5 web pages. D3 requires
            the use of HTML5, primarily for its usage of SVG which is an HTML5 feature. Support for HTML5 is universal in modern
            browsers and there are no compatibility issues with D3 across browsers.
            <p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <img src="Content/images/JS.jpg" height="100" width="100" alt="CSS" />
        </div>
        <div class="col-md-10">
            <p>
            JavaScript running in a browser is an enabling technology of modern web development. JavaScript supports functional
            programming, which is used extensively in D3. It will be assumed that students in this course have a basic understanding 
            of JavaScript. D3 makes extensive use of JSON (JavScript Object Notation).
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <img src="Content/images/SVG.png" height="100" width="100" alt="CSS" />
        </div>
        <div class="col-md-10">
            <p>
            SVG stands for <em>scalable vector graphics</em>. SVG is a vector image format which has support
            for interactivity and animation. The course will review browser support for SVG (added under HTML5)
            and will make use of D3's interface to SVG in several charting examples.
            </p>
        </div>
    </div>
</div>

<div id="container">
    <div class="row">
        <div class="col-md-2">
            <img src="Content/images/Brackets.jpg" height="100" width="100" alt="CSS" />
        </div>
        <div class="col-md-10">
            <p>
            The Brackets IDE was used in the development of the examples in this course. Brackets is a free download available from Adobe. 
            There are other IDEs which serve this same purpose, but Brackets is recommended. Brackets supports running applications locally
            in a desktop browser without first deploying them to a server.
            </p>
        </div>
    </div>
</div>
 
<div id="container">
    <div class="row">
        <div class="col-md-2">
            <img src="Content/images/DevTools.jpg" height="100" width="100" alt="CSS" />
        </div>
        <div class="col-md-10">
            <p>
             The image shows the logo for Google Chrome which has built in developer tools.
             All modern browsers have support for developer tools, but the browser used for the development 
             of the examples in this course was Google Chrome.
             This course will make extensive use of the JavaScript console.log 
            function supported by Google Chrome to help explain what D3 is doing.  
           </p>
        </div>
    </div>
</div>