 
<p>
<img src="Content/images/d3logo.jpg" alt="D3 Logo" />
<br/><br/>
Each example in this section is the end product of a series of exercises in the course. The examples are all simple but each
teaches a point about the usage of D3. Mike Bostock himself is the foremost proponent of the example driven approach to learning
D3. He has included numerous examples of D3 visualizations on d3js.org and has created the site bl.ocks.org as a repository for others
to share their D3 visualizations with the D3 community. It is striking to see how little D3 code needs to be written to support very
sophisticated visualizations. This is a testimony to the power of the D3 API. 
</p>
<br/><br/> 
<p>
<ul>
    <li><a href='runnable/theroadnottaken.html'>The Road not Taken</a></li>
  <!--  <li><a href='runnable/olympicsleaderboard.html'>Olympics Leaderboard</a></li> -->
    <li><a href='runnable/transitioningleaderboard.html'>Transitioning Leaderboard</a></li>
    <li><a href='runnable/medalcount.html'>Medal Count</a></li>
    <li><a href='runnable/barcharts.html'>Bar Charts</a></li>
    <li><a href='runnable/groupedbarchart.html'>Grouped Bar Chart</a></li>
    <li><a href='runnable/stackedbarchart.html'>Stacked Bar Chart</a></li>
    <li><a href='runnable/piechart.html'>Labeled Pie Chart</a></li>
</ul>
</p>
