 
<p>
<img src="Content/images/d3logo.jpg" alt="D3 Logo" />
Even a cursory study of the website <a href="http://www.d3js.org" target="_blank">d3js.org</a> reveals the singular genius of Mike Bostock, 
the driving force behind Data-Driven Documents (D3). And a simple Internet search for D3 related websites points to a vast continent of work
on data visualization using D3. This is no accident; business runs on data and D3 is an extremely powerful visualization tool
for making sense of that data. <a href="http://www.github.com" target="_blank">GitHub</a> and <a href="https://squareup.com" target="_blank">Square</a> 
are two prominent websites that use D3 for business analytics.
</p>
<p>
The purpose of this website is to promote a training course as an introduction to D3 technology. D3 is a client-side Javascript
framework with a well deserved reputation for a steep learning curve. The course is targeted at web developers who have a foundation
in the building block technologies of CSS, JavaScript and HTML5. It adds to these the perhaps less familiar building block of SVG,
since much of D3 relies on SVG. 
</p>
<p>   
There is no shortage of web tutorials that teach about D3, but their different approaches often cause confusion. Mike Bostock personally
wrote the API reference that is part of the <a href="http://www.d3js.org" target="_blank">d3js.org</a> website, and it is extremely useful 
after the fundamentals have been learned. This course aims to teach these fundamentals by example. The course is designed to be taught as 
a series of twice a week lessons over a period of 6 weeks. The course lessons can be presented in a group training format or in a train-the-trainer 
format. There are advantages and disadvantages to each format, depending on the needs of an organization. The source code for all examples will be 
given to the recipient(s) of the training. A strictly web-based format is not available at this time. 
</p>
