
 

div.poem {
  position:relative;

}

/*
div {
  background-color: khaki;
}
*/
 

div.title {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 30px;
}

div.stanza {
    position: absolute;
    width: 100%;
    font-size: 18px;
}

div.verse {
    position: absolute;
    width: 100%;
    font-size: 18px;
}

 